#page {
  height: 3400px;
}

#progresscontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ededed;
}

#progress {
  width: 0%;
  height: 100%;
  background-color: red;
}
